
.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; */
}

.paper{
    padding: 20px;
    height: 60vh;
    width: 400px;
    margin: 20px auto;
}

.h1{
    color: rgb(131, 125, 125);
}
